/* SHORTCUT */

@mixin flex ($direction: null, $justify: null, $a-items: null) {
  display: flex;
  @if $direction != null {flex-direction: $direction;}
  @if $justify != null {justify-content: $justify;}
  @if $a-items != null {align-items: $a-items;}
}

@mixin flex-content ($a-content) {
  align-content: $a-content;
}

/* RESPONSIVENESS */

@mixin responsive ($breakpoint) {
  @media only screen and (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}