body {
  /* MOBILE 1st STYLES 375px */

  width: 100vw;
  background:
          url(../images/bg-pattern-top-mobile.svg) no-repeat top,
          url(../images/bg-pattern-bottom-mobile.svg) no-repeat bottom;
  font-family: $primary-font;
  font-size: $font-m;
  font-weight: $font-regular;
  color: $very-dark-magenta;

  /* RESPONSIVE STYLES */

  // Tablet 768px
  @include responsive(m) {
    background:
            url(../images/bg-pattern-top-mobile.svg) no-repeat top,
            url(../images/bg-pattern-bottom-mobile.svg) no-repeat 30em; // 480px
    background-size: 27.9375em  17.3125em, 48em 64.375em; // 447px 277px, 768px 1030px
  }

  // Laptop 1024px
  @include responsive(l) {
    background:
            url(../images/bg-pattern-top-desktop.svg) no-repeat top left,
            url(../images/bg-pattern-bottom-desktop.svg) no-repeat bottom right;
    background-size: 30.75em  19.0625em, 48.625em 30.125em; // 492px 305px, 778px 482px
  }

  // Desktop 1440px
  @include responsive(xl) {
    background:
            url(../images/bg-pattern-top-desktop.svg) no-repeat top left,
            url(../images/bg-pattern-bottom-desktop.svg) no-repeat bottom right;
    background-size: 36.5em  22.625em, 67.8125em 42.0625em; // 584px 362px, 1085px 673px
  }

  // Big screens 2560px
  @include responsive(xxl) {
    background:
            url(../images/bg-pattern-top-desktop.svg) no-repeat top left,
            url(../images/bg-pattern-bottom-desktop.svg) no-repeat 50em 7.9375em; // 800px 127px
    background-size: 71.25em 44.165em, 110em 68.230625em; // 1140px 706.64px, 1760px 1091.69px
  }
}

main {
  /* MOBILE 1st STYLES 375px */

  @include flex(column, center, center);
  padding: 4rem 1.5rem; // 64px 24px

  /* RESPONSIVE STYLES */

  // Tablet 768px
  @include responsive(m) {
    padding: 5rem 2rem 6.25rem; // 80px 32px 100px
  }

  // Laptop 1024px
  @include responsive(l) {
    padding: 4rem; // 64px
  }

  // Desktop 1440px
  @include responsive(xl) {
    padding: 8rem 10.5rem 6.25rem; // 128px 168px 100px
  }

  // Big screens 2560px
  @include responsive(xxl) {
    padding: 8rem 30rem 6.25rem; // 128px 480px 100px
  }
}

footer {
  background: #333333;

  .attribution {
    font-size: .5rem; // 8px
    text-align: center;
    padding: 1rem 0; // 16px
    color: #ffffff;
  }
  .attribution a {
    color: #cccccc;
  }
}